<script src="{{ url_for('design-system.static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/vendor/chart.js/chartjs-adapter-date-fns.bundle.min.js') }}"></script>

{#<script src="{{ url_for('performance_analysis.static', filename='js/temp.js') }}" type="module"></script>#}
<script src="{{ url_for('performance_analysis.static', filename='js/ColorfulCards.js') }}"></script>
<script src="{{ url_for('performance_analysis.static', filename='js/main.js') }}"></script>
<script src="{{ url_for('performance_analysis.static', filename='js/expanded_chart.js') }}"></script>
<script src="{{ url_for('performance_analysis.static', filename='js/chart_section.js') }}"></script>

<script src="{{ url_for('performance_analysis.static', filename='js/summary_filter.js') }}"></script>
<script src="{{ url_for('theme.static', filename='js/tags.js') }}"></script>