<script src="{{ url_for('security_analysis.static', filename='js/api/OverviewAPI.js') }}"></script>
<script src="{{ url_for('security_analysis.static', filename='js/utils/chart-options.js') }}"></script>
<script src="{{ url_for('security_analysis.static', filename='js/OverviewChart.js') }}"></script>
<script src="{{ url_for('security_analysis.static', filename='js/OverviewFilterTime.js') }}"></script>
<script src="{{ url_for('security_analysis.static', filename='js/OverviewFilterGroup.js') }}"></script>
<script src="{{ url_for('security_analysis.static', filename='js/OverviewCards.js') }}"></script>
<script src="{{ url_for('security_analysis.static', filename='js/Overview.js') }}"></script>

{{ template_slot('performance_analysis_scripts') | safe }}
{#{ template_slot('security_app_scripts') | safe }#}
